
@font-face {
  font-family: 'TTNormsPro';
  src: local('TTNormsPro'), url(./fonts/TTNormsPro-Regular.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TTNormsPro-Italic';
  src: local('TTNormsPro-Italic'), url(./fonts/TTNormsPro-Italic.ttf) format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'TTNormsPro-Bold';
  src: local('TTNormsPro-Bold'), url(./fonts/TTNormsPro-Bold.ttf) format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'TTNormsPro-BoldItalic';
  src: local('TTNormsPro-BoldItalic'), url(./fonts/TTNormsPro-BoldItalic.ttf) format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'TTNormsPro-Black'; 
  src:  local('TTNormsPro-Black'), url(./fonts/TTNormsPro-Black.ttf) format('truetype');
  font-weight: 900;
  font-style: normal;
}

.App {
  text-align: center;
  text-decoration-color: #000771;
  font-family: TTNormsPro-Black, TTNormsPro-Italic, TTNormsPro-Bold, TTNormsPro-BoldItalic, TTNormsPro-Black;
  font-weight: bold;
  border-radius: 50%;
  margin-left: 20%;
  margin-right: 20%;
 
}

body {
  background-color: white; 
  color:#000771;
  font-family: TTNormsPro-Black;
  font-weight: bold;
  font-size: 22;
  border-radius: 50%;
  
}

h1 {
  margin: 0; 
  font-family: TTNormsPro;
  font-size: 24px;
  line-height: 20px;
  color: #404040;
  background-color: #fff;
}
  
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #282c34;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

hr { background-color: white; height: 1px; border: none; }